<head th:fragment="style">

	<title th:text="${pageTitle}"></title>
	<link href="../../webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
	<script src="../../webjars/boostrap/3.3.7/js/boostrap.min.js"></script>
	<script src="../../webjars/jquery/1.9.1/jquery.min.js"></script>
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link href="../../style/style.css" rel="stylesheet">
</head>